:root{
--main-bgColor: #d3d3d3;
--main-textColor: white;
}/*전역 공간에 선언을 한다. 어떤 하위요소에도 다 먹게*/

body{
  padding: 0;
  margin:0;
  font-size: 1.5em;
  background-color: var(--main-bgColor);
}

.wrapper {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.picker {
    display: inline-block;
}

.picker+.picker {
    margin-left: 30px;
}

main {
    color: var(--main-txtColor);
}